.DS_Store
# dependencies
node_modules
**/node_modules

# production
build
src/.umi
dist

# roadhog-api-doc ignore
doc


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# screenshot
screenshot
.firebase
.eslintcache

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# visual studio code
.history
*.log
functions/*
.temp/**

# npm-lock.yaml yarn-lock.yaml pnpm-lock.yaml
*-lock.yaml 
